<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
    <link rel="stylesheet" href="./loginStyle.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/login" method="post">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" >

        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password">

        <button>Log In</button>
        
    </form>
</body>
</html>
